.chatmessage{
    position: fixed;
    // background: #000;
    right: 20px;
    z-index: 2;
    bottom: 0;
    // opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 380px;
}

.form-chat{
    width: 380px;
    background: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.chat-messages{
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.message{
    background: #89ea89;
    color: white;
    border-radius: 30px;
    margin-left: 5px;
}
.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto;
    background: #f88a8a;
    border-radius: 30px;
    color: white;
    margin-right: 5px;
}

.ml-1{
    margin-left: 10px;
}

.avatar{
    min-width: auto !important;
}

.mw-65{
    max-width: 65%;
}

.shadow-b{
    box-shadow: 0 4px 10px rgb(43 40 40 / 10%);
}

.shadow{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.img-null{
    min-width: 60px !important;
    height: 60px;
}

.ml-40{
    margin-left: 40px;
}