.title_contact{
    padding: 30px 0 20px 0;
    font-size: 20px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__container{
        border-radius: 2px;
        width: 100%;
        padding: 20px 30px;
    }
    &__title{
        h3{
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    &-content{
        margin-top: 30px;
    }
    &-infor{
        display: flex;
        margin-bottom: 20px;
        p{
            margin: 0;
        }
        &-icon{
            width: 40px;
            height: 40px;
            background-color: #e9f2ee;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-right: 20px;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        input{
            height: 40px;
            margin-bottom: 10px;
            padding: 0 10px;
            border: 1px solid #ccc;
            font-size: 17px;
            font-family: fangsong;
            border-radius: 3px;
        }
        label{
            margin: 0;
            font-size: 18px;
            font-family: emoji;
            margin-bottom: 5px;
        }
        textarea{
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            font-size: 17px;
            font-family: fangsong;
            border-radius: 3px;
        }
        button{
            width: 120px;
        }
    }
}