.hero__item{
    background-image: url("../../../assets/images/restaurant-banner.jpeg");
    background-repeat: no-repeat;
    height: 420px;
    background-size: cover;
    margin-top: 15px;
    border-radius: 5px;
}
.banner1{
    max-width: 100%;
    width: 100%;
    height: 430px;
    margin-top: 15px;
    border-radius: 5px;
}

.slick-dots li button:before{
    font-size: 26px !important;
}